.partners {
  width: 100%;
  overflow: hidden;
  border-top: 2px solid var(--line);
  //max-width: 1400px;
}

.partner-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0 1.4rem;

  img {
    display: block;
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
  }
}

@media (max-width: 1080px) {
  .partner-item {
    padding: 0 1.1rem;
  }
}

@media (max-width: 760px) {
  .partner-item {
    padding: 0 0.8rem;
  }

  .partners {
    width: 100vw;
  }
}
